@keyframes adminFigure{
    0%{
        right: -100%;
        opacity: 0;
        width: 0;
        height: 0;
    }

    100%{
        right: 0;
        opacity:1;
        width:100;
        height: 100%;
    }
}