@keyframes adminFigure{
    0%{
        right: -100%;
        opacity: 0;
        width: 0;
    }

    100%{
        right: 0;
        opacity:1;
        width:100%;
    }
}

/* Copy this code after the above code */
@keyframes toRight {
  0% {
  	    transform: translateX(0);
     }

   100% {
        	transform: translateX(100px);
        }
}


/* Copy this code after the above code */
@keyframes toLeft {
0% {
	    transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
              

}