section.courses{
    width: 100%;
    min-height: 50dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 2dvh;
    column-gap : 1.5dvw;
    background-color: var(--secondary-background);
}
section.courses > div.section-title{
    width: 100%;
    height: 10dvh;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    column-gap: 2%;
}
section.courses > div.section-title > :is(span, h1){
    font-size: 4.5dvw;
}

section.courses > div.course{
    width: 96%;
    height: 50dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 2dvh;
    border-radius: 1.5rem;
    border: 2px solid var(--primary-blue);
    box-shadow: 1px 1px 10px var(--border-color);
    padding-block: 2%;
}
section.courses > div.course > picture{
    width: 90%;
    height: 50%;
    display: flex;
    font-family: column no wrap;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    overflow: hidden;
}