section.courses{
    width: 100%;
    min-height: 50dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 2dvh;
    column-gap : 1.5dvw;
    background-color: var(--secondary-background);
}