section.introductory{
    width: 100%;
    min-height: 90dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 5%;
    padding : 10% 0 0 0;
    margin: 9.5dvh 0 0 0
}
section.introductory > div.description{
 width: 100%;
 height: 70%;
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
 justify-content: space-evenly;
 row-gap: 5%;
 padding: 5% 2% 2% 2% ;
 position: relative;
}

section.introductory > div.description > h3{
    width: 80%;
    margin: 0 auto;
    border-radius: .5rem;
    padding: 1rem; 
    padding: 2dvh 2dvw;
    font-size: 2rem;
    height: max-content;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: var(--primary-orange);
    background-color: var(--secondary-background-color);
    font-weight: bold;
    text-shadow: .5px .5px 10px var(--primary-orange);
}
section.introductory > div.description > h2{
    margin: 2dvh 1dvw;
    text-align: justify;
    font-size: 4rem;
}
section.introductory > div.description :is(h2, h3, p){
    width: 98%;
    height: max-content;
    text-align: justify;
    padding: 1%;
    line-height: 5rem;
    text-align: justify;
    word-spacing: .7rem;
}


a.btn{
    width: 45dvw;
    height: 7.5dvh;
    margin-block: 1.5dvh;
    border-radius: 1rem;
    background: rgb(216,8,8);
    background: linear-gradient(145deg, var(--primary-orange) 10%, goldenrod 50%, var(--primary-orange) 90%);
    -webkit-background: linear-gradient(145deg, var(--primary-orange) 10%, rgba(255,88,88,1) 50%, var(--primary-orange) 90%);
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    column-gap: 6%;
}

section.introductory > a.contactMe-button{
    width: 50%;
    height: 10dvh;
    margin: 0 auto;
    align-self: center;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background: rgb(255,228,0);
    background: linear-gradient(300deg, rgba(255,228,0,0.9932364328811157) 0%, rgba(255,163,0,0.9932364328811157) 100%);
    -webkit-background: linear-gradient(300deg, rgba(255,228,0,0.9932364328811157) 0%, rgba(255,163,0,0.9932364328811157) 100%);
    outline: none;
}
section.introductory > a.projects-button {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .2s;
    background: rgb(239,71,111);
    background: linear-gradient(320deg, rgba(239,71,111,1) 0%, rgba(239,71,80,1) 100%);
    -webkit-background: linear-gradient(320deg, rgba(239,71,111,1) 0%, rgba(239,71,80,1) 100%);
    outline: 1px solid rgba(239, 71, 111, .4);
}

section.introductory > picture{
    width: 96%;
    height: 70dvh;
    margin-top: 5rem;
    border-radius: .5rem;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 23%, rgba(223,167,255,1) 100%);
    -webkit-background: linear-gradient(0deg, rgba(255,255,255,1) 23%, rgba(223,167,255,1) 100%);
}
section.introductory > picture > img{
    width: 100%;
    margin: 5% 0 0 0 ;
    /* -webkit-filter: drop-shadow(-3px 8px 13px #2e2e2e); */
    /* filter: drop-shadow(-3px 8px 13px #2e2e2e); */
    -webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* -webkit-filter: saturate(.5); */
    /* filter: saturate(.5); */
}