section.introductory{
    width: 100%;
    height: 60dvh;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 5%;
    background-color: var(--secondary-background);
    padding : 10% 0 0 0;
}
section.introductory > div.description{
 width: 50%;
 height: 100%;
 display: flex;
 flex-flow: column nowrap;
 align-items: flex-start;
 justify-content: flex-start;
 row-gap: 5%;
 padding: 0 0 2% 0;
}
section.introductory > :is(h1, h4){
    width: 100%;
    height: max-content;
    font-size: 5dvw;
}

a.btn{
    width: 40dvw;
    height: 7.5dvh;
    margin-block: 5dvh;
    outline: 1px solid var(--primary-blue);
    background: linear-gradient(90deg, rgba(0,126,255,1) 0%, rgba(0,187,255,1) 100%);
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

section.introductory > picture{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}
section.introductory > picture > img{
    width: 90%;
}