section.introductory{
    width: 100%;
    min-height: 60dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 5%;
    padding : 10% 0 0 0;
    margin: 9.5dvh 0 0 0
}
section.introductory > div.description{
 width: 98%;
 height: 50dvh;
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
 justify-content: space-evenly;
 row-gap: 5%;
 padding: 2% ;
 position: relative;
}

section.introductory > div.description :is(h2, h3, p){
    width: 100%;
    height: max-content;
    text-align: left;
    padding: 1%;
    
}
section.introductory > div.description > h1{
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    width: 100%;
    padding: 0 0 0 1%;
    font-size: 8dvw;
    /* box-shadow: 0 0 7px  #fff,
                0 0 10px  #fff,
                0 0 21px   #fff,
                0 0 42px  #f09,
                0 0 82px  #f09,
                0 0 92px  #f09,
                0 0 102px #f09,
                0 0 151px #f09; */
}

section.introductory > div.description > h4{
    font-size: 8dvw;
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: .5s;
    padding: 0 0 0 1%;
}

a.btn{
    width: 35dvw;
    height: 7.5dvh;
    margin-block: 1.5dvh;
    outline: 1px solid var(--primary-blue);
    background: linear-gradient(90deg, rgba(0,126,255,1) 0%, rgba(0,187,255,1) 100%);
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}

a.contactMe-button{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background: rgb(255,228,0);
    background: linear-gradient(300deg, rgba(255,228,0,0.9932364328811157) 0%, rgba(255,163,0,0.9932364328811157) 100%);
    -webkit-background: linear-gradient(300deg, rgba(255,228,0,0.9932364328811157) 0%, rgba(255,163,0,0.9932364328811157) 100%);
    outline: none;
}
a.projects-button {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .2s;
    background: rgb(239,71,111);
    background: linear-gradient(320deg, rgba(239,71,111,1) 0%, rgba(239,71,80,1) 100%);
    -webkit-background: linear-gradient(320deg, rgba(239,71,111,1) 0%, rgba(239,71,80,1) 100%);
    outline: 1px solid rgba(239, 71, 111, .4);
}

section.introductory > picture{
    width: 60%;
    height: 90dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}
section.introductory > picture > img{
    width: 100%;
    -webkit-filter: drop-shadow(-3px 8px 13px #2e2e2e);
    filter: drop-shadow(-3px 8px 13px #2e2e2e);
    -webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* -webkit-filter: saturate(.5); */
    /* filter: saturate(.5); */
}