div.wrapper{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--primary-background-color);
    position:relative;
    row-gap: 20dvh;
}

div.wrapper > header.main-header{
    width:96%;
    height: 9.5dvh;
    padding: 0 2%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(243, 114, 44, 100%);
    background-color: var(--secondary-background-color);
    border-radius: 2rem;
    position: fixed;
    top: 10px;
    right: 2%;
    margin: 0 auto; 
    z-index: 1;
}

header.main-header > ul.navbar.items{
    width:100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 2%;
    padding: 2%;
}
ul.navbar.items > li.item{
    width: calc(37% / 3);
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    padding-inline: 1%;
}
ul.navbar.items > li.item > a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 1%;
    padding: 1%;
}
ul.navbar.items > li.item > a > span{
    color: var(--text-color);
    font-size: 3rem;
    width: 100%;
    height: max-content;
}
ul.navbar.items > li.item.logo{
    width:60%;
    height: max-content;
    justify-content: center;
}
ul.navbar.items > li.item.theme-toggle > a > span{
    color: goldenrod;
}

ul.navbar.items > li.item.sideMenu{
    /* position: relative; */
}

ul.navbar.items > li.item.sideMenu > div#sideMenuContainer{
    position: fixed;
    top:0;
    right:0%;
    width: 100dvw;
    height:100dvh;
    background-color: var(--secondary-background-color);
    flex-flow: column nowrap;
    grid-row: 5%;
    align-items: stretch;
    justify-content: space-between;
    padding: 1%;
    transition: all .3s ease-in-out;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > header{
 width: 100%;
 height: 5%;

 display: flex;
 flex-flow: row nowrap;
 align-items: center;
 justify-content: space-between;
}

ul.navbar.items > li.item.sideMenu > div#sideMenuContainer >  header > div.logo{
 width: 70%;
 height: 100%;
 padding: 1% 3% ;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer >  header > div.logo > h1{
    width: max-content;
    height: max-content;
    font-size: 100%;
    font-weight: 600;
    text-align: justify;
}

ul.navbar.items > li.item.sideMenu > div#sideMenuContainer >  header > div#sideMenuClose{
 width: 10%;
 height: 100%;
 padding: 2%;
 display: flex;
 flex-flow: column nowrap;
 align-items: flex-start;
 justify-content: center;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer >  header > div#sideMenuClose > img{
    object-fit: contain;
    width: 60%;
}

ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > main{
    width: 100%;
    height: 70%;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 1%;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > main > ul.items.links{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
}

ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > main > ul.items.links > li.item.link{
    width: 100%;
    height: calc(100% / 11 );

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > main > ul.items.links > li.item.link > a{
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    column-gap: .5%;
    padding: 0 1%;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > main > ul.items.links > li.item.link > a > img{
    width: 9.5%;
    object-fit: contain;
}
ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > main > ul.items.links > li.item.link > a > span{
    width: 72%;
    height: max-content;
    color: var(--primary-orange);
}


ul.navbar.items > li.item.sideMenu > div#sideMenuContainer > footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}







body > div.wrapper > footer{
    width: 100%;
    min-height: 10dvh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 2% 4% 5% 2%;
}
    body > div.wrapper > footer > p{
        width: max-content;
        height: max-content;
        text-align: center;
    }