div.wrapper{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 20px;
    background-color: var(--secondary-background);
}

div.wrapper > header.main-header{
    background-color: var(--primary-blue);
    width:100%;
    height: 9.5dvh;
    padding: 0 2%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    color: var(--contrast-text-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1px 15px 10px 1px var(--box-shadow);
    -webkit-box-shadow: 1px 15px 10px 1px var(--box-shadow);
}

header.main-header > ul.navbar.items{
    width:100%;
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    padding: 2% 2% 0 2%;
}
ul.navbar.items > li.item{
    width: calc(100% / 4);
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    padding-inline: 1%;
}
ul.navbar.items > li.item > a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1%;
    padding: 1%;
}
ul.navbar.items > li.item > a > span{
    color: var(--contrast-text-color);
    font-size: 1.5rem;
    widows: 100%;
}
ul.navbar.items > li.item > a > span:first-child{
    font-size: 8dvw;
    -webkit-filter:drop-shadow(1px 1px 10px var(--border-color));
    filter:drop-shadow(1px 1px 10px var(--border-color));
}
ul.navbar.items > li.item > a > span:nth-child(2){
    display: none;
}

ul.navbar.items > li.item:is(:hover, :active) > a > span:nth-child(2),
ul.navbar.items > li.item:focus  > a > span:nth-child(2){
    display: block;
}
ul.navbar.items > li.item:is(:hover, :active),
ul.navbar.items > li.item:focus > li.item:hover{
    border-radius: 1rem;
    background-color: #fff;
    color: #000;
}

ul.navbar.items > li.item:is(:hover, :active)  > a > span,
ul.navbar.items > li.item:focus >  a > span{
    color: #333;
}