section.projects{
    width: 100%;
    min-height: 40dvh;
    background-color: var(--background-color);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    column-gap: 1dvw;
    row-gap: 1dvh;
    padding-inline: 2%;
    padding-block: 1.5dvh;
}
section.projects > div.section-title{
    width: 100%;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2dvw;
}

section.projects > div.section-title > span{
    font-weight: 400;
    font-size: 5rem;
}
section.projects > div.section-title > h1{
    font-size: 2.5dvw;
}

section.projects > div.project{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 96%;
    background-color: #fff;
    height: 50dvh;
    outline: 1.5px solid  var(--primary-blue);
    border-radius: 1.5rem;
    box-shadow: .1px 0 20px var(--border-color),
                0 .1px 20px var(--border-color);
}

section.projects > div.project > picture{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: 1px solid var(--border-color);
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}
section.projects > div.project > picture > img{
    width: 100%;
    height: 100%;
}

section.projects > div.project > h2{
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    outline: 1px solid var(--border-color);
    border-radius: inherit;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
section.projects > div.project > h2 > a{
    width: 80%;
    height: 80%;
    text-align: center;
    color: var(--primary-blue);
    font-size: 2rem;
    font-weight: 600;
    padding-block: 2%;
}