section.projects{
    width: 100%;
    min-height: 40dvh;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    column-gap: 1dvw;
    row-gap: 10dvh;
    padding-inline: 2%;
    padding-block: 1.5dvh;
}


section.projects > div.project{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 96%;
    background-color: var(--primary-orange);
    height: 50dvh;
    outline: 1.5px solid  var(--primary-orange);
    border-radius: 1.5rem;
}

section.projects > div.project > picture{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: 1px solid var(--border-color);
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1%;

}
section.projects > div.project > picture > img{
    width: 90%;
    object-fit: contain;
}

section.projects > div.project > h2{
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--background-color);
    border-radius: inherit;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
section.projects > div.project > h2 > a{
    width: 80%;
    height: 80%;
    text-align: center;
    color: var(--primary-orange);
    font-size: 2rem;
    font-weight: 600;
    padding-block: 2%;
}