section.projects{
    width: 100%;
    min-height: 40dvh;
    background-color: var(--background-color);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    column-gap: 1dvw;
    row-gap: 1dvh;
    padding-inline: 2%;
}
section.projects > div.section-title{
    width: 100%;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2dvw;
}

section.projects > div.section-title > span{
    font-weight: 400;
    font-size: 3rem;
}
section.projects > h1{
    font-size: 5dvw;
}

section.projects > div.project{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 45dvh;
    height: 40dvh;
}

section.projects > div.project > picture{
    width: 100%;
    height: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline: 1px solid var(--border-color);
    border-radius: 1.5rem;
}
section.projects > div.project > picture > img{
    width: 100%;
    height: 100%;
}