div.section-title{
    width:100%;
    height: 10dvh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.section-title > :is(span.right-wing, span.left-wing){
    width: 25%;
    height: 10%;
    border-radius: 3rem;
    background: linear-gradient(145deg, var(--primary-orange) 0%, transparent 100%);
}
div.section-title > span.left-wing{
    width: 25%;
    height: 10%;
    border-radius: 3rem;
    background: linear-gradient(145deg, transparent 0% ,var(--primary-orange) 100%);
}

div.section > div.title{
    width: max-content;
    height: 100%;
    border: 1px solid var(--primary-orange);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}