section.skills{
    width: 100%;
    min-height: 50dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 2dvh;
    padding: 2% 2% ;
}

section.skills > div.skill{
    width: 100%;
    height: 12dvh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
section.skills > div.skill > picture{
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
section.skills > div.skill > picture > img{
    width: 100%;
    height: 100%;
}

section.skills > div.skill > div.progress{
    width: calc(100% - 32%);
    height: 80%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
section.skills > div.skill > div.progress > span{
    height: 50%;
    width: 100%;
    background-color: var(--secondary-background-color);
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
section.skills > div.skill > div.progress > span.forground{
    background-color: var(--primary-orange);
}

section.skills > div.other-skills{
    direction: ltr;
    width: 100%;
    height: 30dvh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2%;
    column-gap: 3%;
}
section.skills > div.other-skills > h2 > span:nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
}
