section.skills{
    width: 100%;
    min-height: 50dvh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 1%;
    row-gap: 2%;
    background-color: var(--background-color);
    padding: 2% 0 0 0;
}

section.skills > h2{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    position: relative;
}

section.skills > div.skill{
    max-width: 392px;
    min-width:390px;
    height: 86%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 50%;
    outline: 1px solid var(--primary-blue);
    background-image: url(../images/wp4325531-1.jpg);
    background-size: cover;
    
}