@import 'theme.css';
@import "main.css";
@font-face {
    font-family: 'iransans';
    src: url('https://fonts.cdnfonts.com/css/iransansx');
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:link,
a:visited,
a:active,
a:focus{
    text-decoration: none;
    color: var(--text-color);
}

html{
    font-size: 10px;
    font-family: 'iransans';
    color: var(--text-color);
    width: 100dvw;
    min-height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
}

body{
    direction: rtl;
    color-scheme: dark;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}