@import 'theme.css';
@import "main.css";
@font-face {
    font-family: 'iransans';
    src: url('https://fonts.cdnfonts.com/css/iransansx');
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    padding-block: 0;
}

a,
a:hover,
a:link,
a:visited,
a:active,
a:focus{
    text-decoration: none;
    color: var(--text-color);
}

ul,
li{
    list-style-type: none;
}

html{
    font-size: clamp(16pxpx, 2dvw, 4dvw);
    font-family: 'iransans';
    color: var(--text-color);
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    scroll-behavior: smooth;
}

body{
    direction: rtl;
    color-scheme: dark;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    overflow-x: hidden;
    width: 100%;
    min-height: 100dvh;
    font-size: 2rem;
}