@media (prefers-color-scheme: dark){
    :root{
        --text-color: #343A40;
        --background-color: #E9ECEF;
        --primary-blue: #00A6FB;
        --contrast-text-color: #EBEBEB;
        --box-shadow: #EBF2FA;
        --secondary-background: #E3F2FD;
    }
}