/* orange = rgba(243, 114, 44, 100%) */
/* sormaei rgba(17, 138, 178, 100%) */
/* pink    rgba(239, 71, 111, 100%) */
/* blue    rgba(0, 107, 166, 100%) */
/* yellow   rgba(255, 183, 0, 100%) */
@media (prefers-color-scheme: dark){
    :root{
        --background-color: #E9ECEF;
        --primary-blue: #00A6FB;
        --contrast-text-color: #EBEBEB;
        --box-shadow: #EBF2FA;
        --secondary-background: #E3F2FD;
        --border-color: #E5E5E5;

        --primary-background-color: rgba(18, 15, 13, 100%);
        --secondary-background-color: rgba(53, 53, 53, 100%);
        --primary-orange: rgba(242, 106, 27, 100%);
        --text-color: rgba(242, 242, 242, 100%);
    }
}